DATABASE_URL="postgresql://postgres.utacaxzmldlfbowazmat:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.utacaxzmldlfbowazmat:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
NEXTAUTH_SECRET="dev-secret-placeholder-change-me"
NEXTAUTH_URL="http://localhost:3000"
